.botonDesplegable{
    border: 2px solid #800000; /* Borde inicial */
    border-radius: 0px; /* Borde ligeramente redondeado */
    padding: 0.5vh 1vw; /* Espaciado interno */
    display: inline-block; /* Para usar múltiples botones en línea */
    font-family: 'Jacques Francois', serif;
    font-size: 2.5vh; /* Tamaño del texto */
    letter-spacing: 1px; /* Espaciado entre letras */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: ease-out 0.4s; /* Animación fluida */
    text-align: center; /* Centrar texto */
    background-color: #9B9B9B;
    color: #800000;
}

.botonDesplegable:hover {
    box-shadow: inset 0 100px 0 0 #800000; /* Desliza el color hacia abajo */
    color: #FFF; /* Mantiene el texto blanco */
    border: 2px solid #800000
}

.boxSubMenu{
    border: 2px solid #800000; /* Borde inicial */
    border-radius: 0px;
    background-color: #9B9B9B;
}

.itemMenu{
    color: #800000;
    display: inline-block; /* Para usar múltiples botones en línea */
    font-family: 'Jacques Francois', serif;
}

.itemMenu:hover{
    background-color: #800000;
    color: #FFF;
}