.App{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.letraTitulo{
    color: #800000;
    font-family: 'Jacques Francois', serif;
    font-size: 8vh;
    letter-spacing: 1px; /* Espaciado entre letras */
    text-align: center;
}

.letraSubTitulo{
    color: #800000;
    font-family: 'Jacques Francois', serif;
    font-size: 5vh;
    letter-spacing: 1px; /* Espaciado entre letras */
    /*text-align: center;*/
}

.parrafo{
    color: #800000;
    font-family: 'Jacques Francois', serif;
    font-size: 3vh;
    letter-spacing: 1px;
    line-height: 8vh;
}

.parrafoBis{
    color: #800000;
    font-family: 'Jacques Francois', serif;
    font-size: 3vh;
    letter-spacing: 1px;
    line-height: 6vh;
}